/* main.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f7fb; /* Light blue background */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Cliente component */
.table-container {
  margin-bottom: 20px;
}

/* SignUp component */
.form-control {
  width: 100%;
  background-color: #ffffff; /* Light blue background */
  border: 1px solid #1c3d5a; /* Dark blue border */
  color: #000000; /* Black text */
  padding: 8px;
  margin-bottom: 10px;
}

.invalid-feedback {
  color: #ff0000; /* Red text for error messages */
}

/* Table colors */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background-color: #444444; /* Dark gray background for header row */
  color: #ffffff; /* White text for header row */
  padding: 8px;
  text-align: left;
}

.table td {
  background-color: #f5f5f5; /* Light gray background for rows */
  padding: 8px;
}

.table tr:hover {
  background-color: #cbe2ff; /* Light blue background to highlight information */
}
